* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}

.header-section {
    max-height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-info-section {
    max-width: 40%;
    margin-left: 80px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 37px;
}

.header-img {
    max-height: 100vh;
}

.feature-section {
    text-align: center;
    margin-top: 138px;
}

.title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;
}

.feature-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feature-img {
    margin: 24px 0 0 0;
    width: 300px;
    border-radius: 194px 194px 0 0;
}

#f-img-1 {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 60px 37px 0 37px;
    ;
}

#f-img-2 {
    background-color: rgba(5, 151, 160, 0.15);
    padding: 110px 15px 65px 27px;

}

#f-img-3 {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 25px 35px 0 35px;
}

.feature-img-caption {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-bottom: 70px;
}

.service-section {
    width: 77%;
    height: 200px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}

.sign-up-section {
    width: 77%;
    margin: 100px 0;
    padding: 100px 11.5%;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tomato-span {
    color: tomato;
}

.insta {
    margin: 100px 0;
    text-align: center;
}

.insta-img {
    width: 77%;
    margin: auto;
}

.insta-img>img {
    width: 22.73%;
    margin: 1%;
}

.rooftop-container {
    width: 77%;
    margin: 100px 11.5%;
    background-image: url('../Flower Asset/rooftop.jpeg'), linear-gradient(rgba(229, 84, 115, 0.5), rgba(229, 84, 115, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 8px;
}

.rooftop-title {
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.rooftop-description{
    color:white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;
}
.rooftop-btn{
    color: tomato;
    background-color: white;
    border-radius: 20px;
    padding: 3px 10px;
    border: none;
    font-weight: bold;
}

.form {
    max-width: 77%;
    margin: auto;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-size: cover;
    padding: 100px 0;
    border-radius: 8px;
}

.form>input[type="email"] {
    width: 400px;
    height: 44px;
    border: none;
    border-radius: 8px;
    padding: 2px 0 2px 20px;
}

.footer {
    background-color: #111010;
    margin-top: 100px;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 32px 0;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}